<!DOCTYPE html>
<html>

<body>
    {% block content %}
    <main>
        <table border="1">
        <tr>
            <th>
                <strong>Navigation</strong>
            </th>
        </tr>
        <tr><td>
            <a href="/round1">Round 1 Scores</a>
        </td></tr>
        <tr><td>
            <a href="/round2">Round 2 Scores</a>
        </td></tr>
        <tr><td>
            <a href="/round3">Round 3 Scores</a>
        </td></tr>
        <tr><td>
            <a href="/mean">Mean Scores</a>
        </td></tr>
        <tr><td>
            <a href="/qualifiers">Qualifiers</a>
        </td></tr>
        </table>
    </main>
    {% endblock %}
</body>

</html>